.signup-wrapper{
   width: 70%;
   max-width: 360px;
   height: auto;
   box-shadow: var(--shadow);
   border-radius: 1rem;
   padding: 1rem 2rem;
}
.wrapper{
    margin: 1rem 0;
    background-color: white;
}
.title{
    font-size: 1.2rem;
    font-weight: 550;
    margin-bottom: 1rem;
    text-align: center;
}

.subtitle{
    font-size: 0.9rem;
    font-weight: 380;
    margin-bottom: 1rem;
    text-align: center;
}

.signup-wrapper:hover{
    box-shadow: var(--theme) 0px 0px 1px;   
}
